@import url("https://fonts.googleapis.com/css?family=Roboto");

/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Optional, sans-serif;
  color: #505962;
  line-height: 1.4;
}

.container {
  max-width: 2048px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  background: inherit;
  color: inherit;
  padding: 3.25px;
  border-radius: 5px;
  border: 1px solid black;
}

.heading-underline {
  width: 10vw;
  height: 0.25rem;
  background-color: red;
  margin: 0 auto 1rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
}

/* end of globals */

/* navbar */
.header {
  position: fixed;
  width: 100%;

  z-index: 3;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background: white;
}

/* logo */
.header .logo {
  display: block;
  float: left;
  padding: 10px 15px;
  /*text-decoration: none; */
  font-family: "Josefin Sans", sans-serif;
  font-display: optional;
  color: #d4af37;
  text-transform: capitalize;
  font-size: 1.5rem;
}
